.cartCalculator {
  position: fixed;
  right: 0;
  top: 35%;
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  z-index: 999;
  cursor: pointer;
}
.cartCalculatorPopup {
  position: fixed;
  right: 80px;
  top: 35%;
  background-color: #fff;
  padding: 15px 40px 15px 15px;
  z-index: 999;
  width: 225px;
}
.cartCalculatorPopup button {
  position: absolute;
  top: 0;
  right: 0;
}
.cartCalculatorPopup ul {
  padding-left: 20px;
}
